In [23]:
import xml.etree.ElementTree as ET
import pandas as pd

In [24]:
tree = ET.parse('data.xml')

In [25]:
type(tree)

xml.etree.ElementTree.ElementTree

In [26]:
root = tree.getroot()

In [27]:
root

In [28]:
print(root.tag)
print(root.attrib)
print(len(root))

data
{}
3

In [29]:
# First child of the root
country1 = root[0]
# First child of the child
rank = country1[0]

In [30]:
# What is the tag of the grandchild
print(rank.tag)
# What is the text inside this grandchild
print(rank.text)
# What are the attributes of last element?
print(country1[4].attrib)

rank
1
{'name': 'Switzerland', 'direction': 'W'}

In [31]:
for country in root.findall('country'):
    rank = country.find('rank').text
    name = country.get('name')
    print(name, rank)

Liechtenstein 1
Singapore 4
Panama 68

In [32]:
for neighbor in root.iter('neighbor'):
    print(neighbor.attrib)

{'name': 'Austria', 'direction': 'E'}
{'name': 'Switzerland', 'direction': 'W'}
{'name': 'Malaysia', 'direction': 'N'}
{'name': 'Costa Rica', 'direction': 'W'}
{'name': 'Colombia', 'direction': 'E'}

In [33]:
# Top-level elements
root.findall(".")
# All 'neighbor' grand-children of 'country' children of the top-level elements
root.findall("./country/neighbor")
# elements with name='Singapore' that have a 'year' child
root.findall(".//year/..[@name='Singapore']")
# 'year' elements that are children of elements with name='Singapore'
root.findall(".//*[@name='Singapore']/year")
# All 'neighbor' elements that are the second child of their parent
root.findall(".//neighbor[2]")

### Extract the name, rank, year and gdppc from the countries and create a Pandas DataFrame. Try to do it alone before checking the solution here.

In [42]:
my_dict = {'name': [[country.get('name') for country in root.findall('country')]],
           'rank': [country[0].text for country in root.findall('country')],
           'year': [country[1].text for country in root.findall('country')],
           'gdppc': [country[2].text for country in root.findall('country')]}
my_dict

{'name': [['Liechtenstein', 'Singapore', 'Panama']],
 'rank': ['1', '4', '68'],
 'year': ['2008', '2011', '2011'],
 'gdppc': ['141100', '59900', '13600']}

In [37]:
tree = ET.parse('data.xml')  # Load from file
root = tree.getroot()

my_dict = {'name': [],
           'rank': [],
           'year': [],
           'gdppc': []}


for country in root:
    name_value = country.attrib['name']
    my_dict['name'].append(name_value)

    rank_value = country[0].text
    my_dict['rank'].append(rank_value)

    year_value = country[1].text
    my_dict['year'].append(year_value)

    gdppc_value = country[2].text
    my_dict['gdppc'].append(gdppc_value)

df = pd.DataFrame(my_dict) 
df

            name rank  year   gdppc
0  Liechtenstein    1  2008  141100
1      Singapore    4  2011   59900
2         Panama   68  2011   13600