In [79]:
import IPython

In [53]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [54]:
s = pd.Series(np.random.randn(5), index=(list('abcde')))

In [55]:
s

a   -0.614657
b   -0.869373
c   -0.318319
d   -0.570569
e   -0.233587
dtype: float64

In [56]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [57]:
s = pd.Series(np.random.randn(5))

In [58]:
d = dict(c='f', d='3', a='r', w='t')

In [59]:
pd.Series(d)

c    f
d    3
a    r
w    t
dtype: object

In [60]:
pd.Series(4, index=list('abcd'))

a    4
b    4
c    4
d    4
dtype: int64

In [61]:
s[:]

0   -0.374143
1    3.254041
2   -0.404659
3    0.594212
4    2.156812
dtype: float64

In [62]:
s[::-1]

4    2.156812
3    0.594212
2   -0.404659
1    3.254041
0   -0.374143
dtype: float64

In [63]:
s.to_numpy()

array([-0.3741435 ,  3.25404132, -0.40465909,  0.59421182,  2.15681177])

In [64]:
s[4]

2.156811768891134

In [65]:
4 in s

True

In [66]:
0 in s

True

In [67]:
s + s

0   -0.748287
1    6.508083
2   -0.809318
3    1.188424
4    4.313624
dtype: float64

In [68]:
s * 3

0   -1.122430
1    9.762124
2   -1.213977
3    1.782635
4    6.470435
dtype: float64

In [69]:
s = pd.Series(np.random.randn(6), list('qwerty'))

In [70]:
s

q    1.115718
w    2.414757
e    0.580918
r   -1.868394
t   -0.144969
y   -0.018530
dtype: float64

In [71]:
np.exp(s)

q     3.051758
w    11.187046
e     1.787679
r     0.154371
t     0.865049
y     0.981641
dtype: float64

In [72]:
s1 = s[1:]
s2 = s[:-1]
s1 + s2

e    1.161836
q         NaN
r   -3.736787
t   -0.289939
w    4.829513
y         NaN
dtype: float64

In [73]:
s = pd.Series(np.random.randn(6), index=list('qwerty'), name='something')

In [74]:
s

q    2.127720
w   -0.875101
e   -0.539872
r   -0.289369
t    0.671572
y   -0.580296
Name: something, dtype: float64

# DataFrame

In [75]:
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
         'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [77]:
df = DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [85]:
DataFrame(d, index=list('dabclol'))

   one  two
d  NaN  4.0
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
l  NaN  NaN
o  NaN  NaN
l  NaN  NaN

In [91]:
DataFrame(d, index=list('dabc'), columns=['two', 'three'])

   two three
d  4.0   NaN
a  1.0   NaN
b  2.0   NaN
c  3.0   NaN

In [92]:
In [44]: d = {'one': [1., 2., 3., 4.],
         'two': [4., 3., 2., 1.]}

In [107]:
df = DataFrame(d)
df

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [108]:
DataFrame(pd.Series(np.random.randn(5), name='something'))

   something
0  -1.251986
1  -0.784774
2  -0.252225
3  -0.260000
4  -0.073049

In [109]:
df['one']

0    1.0
1    2.0
2    3.0
3    4.0
Name: one, dtype: float64

In [110]:
df['three'] = df['one'] * df['two']
df

   one  two  three
0  1.0  4.0    4.0
1  2.0  3.0    6.0
2  3.0  2.0    6.0
3  4.0  1.0    4.0

In [111]:
df['flag'] = df['three'] > 5
df

   one  two  three   flag
0  1.0  4.0    4.0  False
1  2.0  3.0    6.0   True
2  3.0  2.0    6.0   True
3  4.0  1.0    4.0  False

In [112]:
del df['one']
df

   two  three   flag
0  4.0    4.0  False
1  3.0    6.0   True
2  2.0    6.0   True
3  1.0    4.0  False

In [114]:
df['foo'] = 'bar'
df

   two  three   flag  foo
0  4.0    4.0  False  bar
1  3.0    6.0   True  bar
2  2.0    6.0   True  bar
3  1.0    4.0  False  bar

In [116]:
df['one_trunc'] = df['two'][:2]
df

   two  three   flag  foo  one_trunc
0  4.0    4.0  False  bar        4.0
1  3.0    6.0   True  bar        3.0
2  2.0    6.0   True  bar        NaN
3  1.0    4.0  False  bar        NaN

In [118]:
df = pd.DataFrame(np.random.randn(8, 3), columns=list('ABC'))
df

          A         B         C
0  1.032158  1.352972 -1.890014
1  0.208224 -0.372591 -0.941532
2 -0.324305 -0.348374  0.388988
3 -1.591895  1.087799  0.164619
4  1.078058  1.875406  1.156683
5  0.806750  0.913229 -0.189931
6  0.418017  0.578256  0.400123
7  0.234266 -0.597651 -0.278931

In [119]:
df * 5 + 2

          A          B         C
0  7.160788   8.764858 -7.450072
1  3.041119   0.137044 -2.707659
2  0.378477   0.258128  3.944938
3 -5.959475   7.438997  2.823096
4  7.390292  11.377029  7.783416
5  6.033752   6.566147  1.050347
6  4.090083   4.891280  4.000615
7  3.171332  -0.988257  0.605344

In [120]:
1 / df

          A         B         C
0  0.968844  0.739114 -0.529096
1  4.802526 -2.683907 -1.062099
2 -3.083521 -2.870475  2.570776
3 -0.628182  0.919287  6.074624
4  0.927594  0.533218  0.864541
5  1.239541  1.095015 -5.265078
6  2.392250  1.729338  2.499231
7  4.268645 -1.673216 -3.585114

In [121]:
df ** 4

          A          B          C
0  1.134969   3.350847  12.760290
1  0.001880   0.019272   0.785850
2  0.011061   0.014729   0.022895
3  6.421812   1.400216   0.000734
4  1.350731  12.370322   1.790019
5  0.423601   0.695536   0.001301
6  0.030533   0.111810   0.025632
7  0.003012   0.127583   0.006053

In [123]:
df1 = pd.DataFrame({'a': [1, 0, 1], 'b': [0, 1, 1]}, dtype=bool)
df2 = pd.DataFrame({'a': [0, 1, 1], 'b': [1, 1, 0]}, dtype=bool)
df1, df2

(       a      b
 0   True  False
 1  False   True
 2   True   True,
        a      b
 0  False   True
 1   True   True
 2   True  False)

In [124]:
df1 & df2

       a      b
0  False  False
1  False   True
2   True  False

In [125]:
df1 | df2

      a     b
0  True  True
1  True  True
2  True  True

In [126]:
df1 ^ df2

       a      b
0   True   True
1   True  False
2  False   True

In [127]:
-df1

       a      b
0  False   True
1   True  False
2  False  False

In [128]:
dft = pd.DataFrame({'A': np.random.rand(3),
                        'B': 1,
                        'C': 'foo',
                        'D': pd.Timestamp('20010102'),
                        'E': pd.Series([1.0] * 3).astype('float32'),
                        'F': False,
                        'G': pd.Series([1] * 3, dtype='int8')})

In [129]:
dft

          A  B    C          D    E      F  G
0  0.972197  1  foo 2001-01-02  1.0  False  1
1  0.196883  1  foo 2001-01-02  1.0  False  1
2  0.194926  1  foo 2001-01-02  1.0  False  1

In [132]:
dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

In [133]:
dft['A'].dtype

dtype('float64')

In [140]:
df1 = pd.DataFrame(np.random.randn(8, 1), columns=['A'], dtype='float32')
df1

          A
0 -0.027901
1  0.412001
2 -0.769796
3 -1.223508
4  1.656867
5 -0.140560
6 -1.558787
7 -1.440491

In [141]:
df1.dtypes

A    float32
dtype: object

In [143]:
df1 = df1.astype('float64')
df1.dtypes

A    float64
dtype: object

In [144]:
dft1 = pd.DataFrame({'a': [1, 0, 1], 'b': [4, 5, 6], 'c': [7, 8, 9]})
dft1

   a  b  c
0  1  4  7
1  0  5  8
2  1  6  9

In [146]:
dft1 = dft1.astype({'a':bool, 'c':np.float64})
dft1.dtypes

a       bool
b      int64
c    float64
dtype: object

In [147]:
dft1

       a  b    c
0   True  4  7.0
1  False  5  8.0
2   True  6  9.0