## Naive Bayes Classifier from Scratch
* link https://chrisalbon.com/code/machine_learning/naive_bayes/naive_bayes_classifier_from_scratch/

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame()

# Create our target variable
data['Gender'] = ['male','male','male','male','female','female','female','female']

# Create our feature variables
data['Height'] = [6,5.92,5.58,5.92,5,5.5,5.42,5.75]
data['Weight'] = [180,190,170,165,100,150,130,150]
data['Foot_Size'] = [12,11,12,10,6,8,7,9]

In [4]:
data

   Gender  Height  Weight  Foot_Size
0    male    6.00     180         12
1    male    5.92     190         11
2    male    5.58     170         12
3    male    5.92     165         10
4  female    5.00     100          6
5  female    5.50     150          8
6  female    5.42     130          7
7  female    5.75     150          9

In [5]:
# Create an empty dataframe
person = pd.DataFrame()

# Create some feature values for this single row
person['Height'] = [6]
person['Weight'] = [130]
person['Foot_Size'] = [8]

In [6]:
person

   Height  Weight  Foot_Size
0       6     130          8

In [57]:
# number of males
n_males = data['Gender'][data['Gender'] == 'male'].count()
# number of females
n_females = data['Gender'][data['Gender'] == 'female'].count()

total_ppl = data['Gender'].count()

In [58]:
P_male = n_males / total_ppl
P_female = n_females / total_ppl

In [60]:
# Group the data by gender and calculate the means of each feature
data_means = data.groupby('Gender').mean()

In [61]:
data_means

        Height  Weight  Foot_Size
Gender
female  5.4175  132.50       7.50
male    5.8550  176.25      11.25

In [62]:
# Group the data by gender and calculate the variance of each feature
data_variance = data.groupby('Gender').var()
data_variance

          Height      Weight  Foot_Size
Gender
female  0.097225  558.333333   1.666667
male    0.035033  122.916667   0.916667

In [63]:
# Creating a variable out of each cell in both of the tables above.

# Means for males
male_height_mean = data_means['Height'][data_variance.index == 'male'].values[0]
male_weight_mean = data_means['Weight'][data_variance.index == 'male'].values[0]
male_footsize_mean = data_means['Foot_Size'][data_variance.index == 'male'].values[0]

# Variance for male
male_height_variance = data_variance['Height'][data_variance.index == 'male'].values[0]
male_weight_variance = data_variance['Weight'][data_variance.index == 'male'].values[0]
male_footsize_variance = data_variance['Foot_Size'][data_variance.index == 'male'].values[0]

# Means for female
female_height_mean = data_means['Height'][data_variance.index == 'female'].values[0]
female_weight_mean = data_means['Weight'][data_variance.index == 'female'].values[0]
female_footsize_mean = data_means['Foot_Size'][data_variance.index == 'female'].values[0]

# Variance for female
female_height_variance = data_variance['Height'][data_variance.index == 'female'].values[0]
female_weight_variance = data_variance['Weight'][data_variance.index == 'female'].values[0]
female_footsize_variance = data_variance['Foot_Size'][data_variance.index == 'female'].values[0]

In [71]:
def p_x_given_y(x, mean_y, variance_y):
    # Input the arguments into a probability density function
    p = (1 / (np.sqrt(2 * np.pi * variance_y))) * np.exp((-(x-mean_y)**2) / (2*variance_y))
    return p

In [72]:
# Numerator of the posterior if the unclassified observation is a male
P_male * \
p_x_given_y(person['Height'][0], male_height_mean, male_height_variance) * \
p_x_given_y(person['Weight'][0], male_weight_mean, male_weight_variance) * \
p_x_given_y(person['Foot_Size'][0], male_footsize_mean, male_footsize_variance)

6.197071843878078e-09

In [73]:
# Numerator of the posterior if the unclassified observation is a female
P_female * \
p_x_given_y(person['Height'][0], female_height_mean, female_height_variance) * \
p_x_given_y(person['Weight'][0], female_weight_mean, female_weight_variance) * \
p_x_given_y(person['Foot_Size'][0], female_footsize_mean, female_footsize_variance)

0.0005377909183630018